*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-color: #e8e6e7;
}
header{
    padding: 20px 70px;
    background-color: #1d1d1f;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 50px;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigation ul li a{
    color: #888;
    font-weight: 600;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}
.navigation ul li a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.navigation .check{
    color: #fff;
    border-bottom: 1px solid #fff;
}

main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}
.main-txt img{
    width: 15rem;
    margin-bottom: 3vh;
}
.main-txt h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.main-txt p{
    margin-bottom: 1.5rem;
}
.main-txt h6{
    color: #999;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.main-txt .btn{
    padding: 10px 25px;
    background-color: #0071e3;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: all 0.5s;
}
.main-txt .btn:hover{
    opacity: .85;
}
.main-txt .text h5{
    font-size: 1rem;
    color: #444;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.main-txt .content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-txt .content span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px #888;
    transition: all 0.5s;
}
.main-txt .content span:hover{
    opacity: .80;
}
#green{
    background-color: #384937;
}
#pink{
    background-color: #f8ddd6;
}
#blue{
    background-color: #225f7e;
}
#black{
    background-color: #192028;
}
#white{
    background-color: #f7f2ee;
}
#red{
    background-color: #ae0617;
}

.main-img img{
    width: 500px;
    transform: rotate(-7deg);
}

